.sidebar-btn{
	position: absolute;
	right:15px;
	background-color: transparent;
	border: none;
	&:focus{
		outline: none;
		border:none;
	}
}
ul{
	list-style-type: none;
	padding-left: 15px;
	li{
		a{
			color: #000;
		}
	}
}
#collapse-menu{
	li{
		padding-left: 10px;
		border-bottom: none;
	}
}
.widget{
	margin-bottom: 30px;
	border: 1px solid #eee;
	a{
		text-decoration: none;
	}
	.widget-heading{
		background-color: $blue;
		height: 40px;
		padding: 10px;
		h4{
			color: #fff;
		}
	}
	.list{
		padding-left: 0;
		li{
			border-bottom: 1px solid #eee;
			padding: 10px;
			&:last-child{
				border:none;
				padding-bottom: 0;
			}
		}
	}
}